<% layout('layout/boilerplate')%>
<div class="row">
<div class="card col-6 offset-3">
    <div class="card-body">
      <h5 class="card-title mb-3">Authentication Demo</h5>
      <h6 class="card-subtitle mb-2 text-muted">Description</h6>
      <p class="card-text">This is a small, simple app that I created to showcase skills of working with basic authentication. It has no other use - all you can do is register and log in/log out.</p>
          <ul>
          <li>Passwords are hashed using Bcrypt</li>
          <li>Data is stored in MongoDB</li>
        </ul>
      <div style="text-align: center;">
      <a href="https://github.com/kelektiv/node.bcrypt.js" class="card-link">Bcrypt</a>
      <a href="" class="card-link">GitHub</a>
    </div>
    </div>
  </div>
</div>