<% layout('layout/boilerplate')%>
<div class="row">
    <div class="card col-4 offset-4">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign Up</h4>
            <form action="/register" method="POST" novalidate class="validated-form">
                <label class="form-label" for="username">Enter Username:</label>
                <input required type="text" class="form-control" name="username" id="username">
                <label class="form-label" for="password">Enter Password:</label>
                <input required type="password" class="form-control mb-4" name="password" id="password">
                <button class="btn btn-secondary">Sign Up</button>
            </form>
        </div>
    </div>
</div>